/* TITRAGE */
@font-face {
  font-family: 'Savate';
  src: url('font/savate-regular-webfont.woff2') format('woff2'),
      url('font/savate-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* CORPS */
@font-face {
  font-family: 'Space Mono';
  src: url('font/spacemono-italic-webfont.woff2') format('woff2'),
    url('font/spacemono-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono';
  src: url('font/spacemono-regular-webfont.woff2') format('woff2'),
    url('font/spacemono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: black;
  background: #00ff15;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  background: #040404;
}

p {
  line-height: 1.5em;
}

@media (min-width: 640px) {
  body {
    margin-left: 15%;
    margin-right: 15%
  }
}

a {
  color: #00ff15;
  text-decoration: none;
}

.lien {
  border: #00ff15 solid 2px;
  border-radius: 0.3em;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.lien:hover {
  border: black solid 2px;
  color: black;
  background-color: #00ff15;
}

img {
  display: block;
  width: 100%;
  height: auto
}

h2 {
  margin: 0
}

.h-div {
  margin-left: 10px;
  display: grid;
  grid-auto-columns: auto;
  justify-content: start;
  align-content: center;
  column-gap: 10px;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  height: 134px;
}

.h-div a {
  text-decoration: none;
  font-family: 'Savate', sans-serif;
  font-size: 28px;
  color: #040404;
  background: #00ff15;
  border: 3.5px solid #00ff15;
  padding: 5px 5px 5px 5px;
  border-radius: 0.3em;
  user-select: none;
  transition: border-radius 0.3s cubic-bezier(.5, .13, .46, .87)
}

.h-div a:hover {
  color: #00ff15;
  background: transparent;
  border: 3.5px solid #00ff15;
  padding: 5px 5px 5px 5px;
  border-radius: 0.6em 0.3em;
  transition: 0.25s
}

.h-logo-short {
  display: inline-block
}

.h-logo-full {
  display: none
}

#current {
  font-size: 28px;
  color: #00ff15;
  background: transparent;
  border: 3.5px solid #00ff15;
  padding: 7px 5px 5px 5px;
  border-radius: 0.6em 0.3em
}

#previous,
#next,
#top {
  display: grid;
  grid-row: 1/2;
  border: 2px solid #00ff15;
  border-radius: 0.3em;
  align-content: center;
  text-align: center;
  line-height: 20px;
  font-size: 1em;
  line-height: 20px
}

#previous .txt-button2,
#next .txt-button2 {
  display: none
}

.txt-button2 {
  font-size: 1.5em
}

.copyright {
  color: #00ff15;
  text-align: center;
  align-self: center;
  font-style: italic;
  grid-row: 2/3;
  grid-column: 1/-1
}

.labo {
  text-align: center;
  align-self: center;
  justify-self: center;
  grid-column: 1/-1;
  grid-row: 1/2;
  border: 2.5px solid #00ff15;
  padding: 5px;
  border-radius: 0.3em;
  width: 100px;
}

.labo:hover {
  color: #040404;
  background: #00ff15;
}

footer {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 75px;
  margin-top: 25px;
  column-gap: 0.5em
}

.h-logo-full,
.h-logo-short {
  grid-column: 1/2
}

#previous:hover,
#next:hover,
#top:hover {
  background-color: #00ff15;
  color: #040404
}

#previous:hover .txt-button2,
#next:hover .txt-button2,
#top:hover .txt-button2 {
  background-color: #00ff15;
  color: #040404;
  display: inline-block
}

#previous:hover .txt-button,
#next:hover .txt-button,
#top:hover .txt-button {
  background-color: #00ff15;
  color: #040404;
  display: none
}

.main-article .description {
  color: #00ff15;
}

.main-article .titre {
  color: #00ff15;
  font-size: 24px;
  grid-row: 1/2;
  margin: 0;
  z-index: 999;
}

.main-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 18px;
  margin-top: 134px;
  font-size: 18px
}

@media (min-width: 640px) {
  .h-div {
    column-gap: 20px;
    margin-right: 15%;
    margin-left: 15%
  }

  .h-div a {
    padding: 7px 20px 5px 20px
  }

  .h-div a:hover {
    padding: 7px 20px 5px 20px
  }

  #current {
    padding: 7px 20px 5px 20px
  }

  footer {
    grid-template-rows: 50px;
    height: 75px;
    row-gap: 10px
  }
}

@media (min-width: 1024px) {
  .h-logo-short {
    display: none
  }

  .h-logo-full {
    display: inline-block
  }

  .copyright {
    text-align: right;
    justify-self: end;
    align-self: end;
    grid-column: -2/-1;
    grid-row: 1/-1
  }

  .labo {
    text-align: center;
    justify-self: start;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr 6fr;
    row-gap: 0
  }
}

.main {
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  user-select: none;
  grid-template-columns: 1fr;
  margin-top: 115px;
  gap: 15px
}

.presentation {
  color: #00ff15;
  grid-column: 1/-1;
  font-size: 19px
}

.a-img-txt {
  display: grid
}

.a-img-txt>* {
  grid-area: 1/1/-1/-1
}

.a-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  padding-left: 12px;
  padding-bottom: 10px;
  border-radius: 0.3em;
  border: 0.18em solid #00ff15
}

.a-img {
  border-radius: 0.3em
}

footer sup {
  vertical-align: middle;
  font-size: 1.2em
}

@media (min-width: 640px) {
  .main {
    grid-template-columns: 1fr 1fr;
    margin-top: 110px
  }

  .presentation {
    font-size: 20px
  }

  .a-txt {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 400;
    padding-left: 12px;
    padding-bottom: 10px;
    border-radius: 0.3em;
    text-shadow: none;
    border: 0.18em solid #00ff15;
    color: #00ff15;
    transition: .3s;
    transition-timing-function: ease
  }

  .a-img-txt:hover>.a-txt {
    background: #00ff15;
    color: black;
  }
}

@media (min-width: 1012px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr
  }

  .presentation {
    font-size: 22px;
    grid-column: 1/-2;
    grid-row: 1/2
  }

  .start {
    grid-column: 1
  }
}

.yellow {
  color: #00ff15
}

em {
  font-style: italic;
  color: #00ff15
}

@media (min-width: 1011px) {
  h3 {
    color: #00ff15;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px
  }

  .main-article .informations {
    grid-row-start: 3
  }

  .main-article .description {
    color: #00ff15;
    margin: 0;
  }

  .breves {
    border: 1px solid #00ff15
  }

  .main-article img,
  .main-article iframe {
    border-radius: 0.3em
  }

  .credits {
    border: 2px solid #00ff15;
    font-size: 16.5px;
    font-weight: 400;
    padding: 0px 3px 0px 3px;
    border-radius: 0.3em
  }

  .credits:hover {
    font-style: italic;
    background: #00ff15;
    color: #040404
  }

  @media (min-width: 640px) {
    .main-article {
      grid-template-rows: 40px auto;
      row-gap: 25px;
      font-size: 18px
    }

    .main-article .titre {
      font-size: 27px
    }

    .main-article .informations {
      grid-row-start: 2
    }



    h3 {
      font-size: 24px
    }
  }

  @media (min-width: 1300px) {
    .main-article {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .main-article .titre {
      display: block;
    }


    h3 {
      font-size: 25px
    }
  }
}